body {
    display: flex;
    flex-flow: column;
    background-color: rgb(255, 225, 117);
    margin: 0px;
}

th,tr:hover {
    cursor: auto;
    background-color: rgb(255, 211, 50);
    color: #000000;
}

tr:hover {
    background-color: #6d2a009a;
    color: #ffffff;
    cursor: pointer;
}

table{

    border-collapse: collapse;
}

