body{
    display: flex;
    flex-flow: wrap column;
    background-color: rgb(255, 235, 165);
    margin: 0px;
}

.col{
    background-color: rgb(255, 200, 0);
    color: rgb(184, 49, 0);
    text-align: center;
    font-family: 'KAKURO', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.trOffer:hover{
    background-color: #c8890046;
    color: #000000;
    cursor: pointer;
}

td{
    padding: 10px;
}

.tableOffer{
    border-collapse: collapse;
    justify-content: center;
    align-content:center;
}

