footer {
    justify-content: center;
    align-items: center;
    background-color: #3c7f72;
    margin: 0px;
    font-family: 'KAKURO', sans-serif;
    font: black bolder;
}

.icon {
    padding-inline: 5px;
    margin-top: 15px;
    width: 30px;
    filter: drop-shadow(3px 3px 3px #005746) drop-shadow(0px 0px 0px #6affe1)
    drop-shadow(-3px -3px 3px #005746);

    border-radius: 10px;
    transition: box-shadow 0.1s; 
}
