
.header{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #3c7f72;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.title{
    font-family: 'KAKURO', sans-serif;
    font-size: 50px;
    color: #ecb100;
    border-width: 5px;
    filter: drop-shadow(3px 3px 3px #005746) drop-shadow(0px 0px 0px #6affe1)
            drop-shadow(-3px -3px 3px #005746);

    border-radius: 10px;
    transition: box-shadow 0.1s; 
    -webkit-text-stroke: 1.8px #795c00;
}

.search{
    width: 80px;
    height: 80px;
    padding: 20px;
    
}

